/* ref https://stackoverflow.com/questions/48124372/pointermove-event-not-working-with-touch-why-not */
.Choose-option-component {
  display: flex;
  touch-action: none;
  border-radius: 2rem;
  padding: 1rem;
}

.moving {
  background-color: black;
  cursor: grab;
  position: 'absolute';
  x: 0;
  y: 0;
}


.move-indicator {
  height: 1rem;
  width: 100%;
  background-color: inherit;
  border-radius: 2rem;
  transition: background-color 1s linear;
  animation-duration: 1s;
}

.Choose-option-component .move-indicator:hover {
  height: 1rem;
  width: 100%;
  background-color: yellow;
  transition: background-color 1s linear;
  animation-duration: 1s;
}