/* ref https://stackoverflow.com/questions/48124372/pointermove-event-not-working-with-touch-why-not */
.Choose-option-component {
  display: flex;
  touch-action: none;
  border-radius: 2rem;
  padding: 1rem;
  transition: background-color 1s ease-out;
  justify-content: space-between;
}

.Choose-option-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Choose {
  max-width: 900px;
  height: 100%;
}

.moving {
  background-color: black;
  cursor: grab;
  position: 'absolute';
}

.Choose-option-component .move-indicator:hover {
  height: 1rem;
  background-color: yellow;
  transition: background-color 1s linear;
  animation-duration: 1s;
  transition: background-color 1000ms linear;
}

.Choose-notes-textarea {
  border: 2px solid;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 1rem;
  padding: .5rem;
  background-color: #346A76;
}

.Choose-notes-textarea.noted {
  background-color: #C2C0A6;
}