.Report-listItem {
  display: flex;
  align-items: start;
  vertical-align: top;
  text-align: start;
  justify-content: space-between;
  margin: 1rem;
}

.Report-note {
  width: 10rem;
  padding: 5px;
  background-color: #346A76;
  min-height: 6rem;
  margin-left: 2rem;
  border-radius: 1rem;
  padding: .5rem;
  font-size: 1.1rem;
}

.Report-note.noted {
  color:#024554;
  background-color: #C2C0A6;
}

.Report-note.summary {
  width: 30rem;
}

.Report-listItem-pos {
  color: #A8B545;
}

.Report-listItem-desc {
  margin: 2rem;
}

.Report-listItem-image {
  width: 7rem;
}
