body {
  place-items: normal;
  min-width: auto;
  height: auto;
  margin: auto;
  color: white;
  background-color:#6A8C69;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  margin: 0;
}

#root {
  width: 600px;
  color: white;
  background-color: #024554;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  vertical-align: top;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-nav span {
  margin :1rem;
}

.inputForm {
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* Green Theme */
.green1 {
  background-color: #024554;
}

.green2 {
    background-color: #53736A;
}

.green2 {
    background-color: #6A8C69;
}

.green2 {
    background-color: #A8B545;
}

.green2 {
    background-color: #C2C0A6;
}

.orange {
  background-color: #F28C28;;
}

.bold, span.bold a {
  font-weight: bold;
  font-size: 2rem;
  color: #A8B545 !important;
}