.ChoiceComponent-container {
  display: flex;
  margin-top: 1rem;
}

.ChoiceComponent-image-block {
  flex-grow: 1;
  min-width: 180px;
}

.ChoiceComponent-desc-block {
  text-align: start;
  margin: 1rem;
}

.ChoiceComponent-image {
  border-radius: 2.5rem;
}

.ChoiceComponent-wikipedia {
  align-self: end;
  float: right;
}
